<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%# <%= image_tag "H.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active"><a href="#" class="nav__link">Home</a></li>
        <li class="nav-item active"><a href="#" class="nav__link">Resume</a></li>
        <li class="nav-item active"><a href="https://www.linkedin.com/in/somakudu/" class="nav__link"><i class="fab fa-linkedin"></i></li>
        <li class="nav-item active"><a href="https://github.com/somunachima/" class="nav__link"><i class="fab fa-github"></i></a></li>
            <%# <%= link_to "Resume", resume_path(@current_user), class: "nav-link" %>
      </ul>
    </div>
  </div>
</div>
