<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Som Akudu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
<header></header>
  <!-- Introduction -->
  <section class="container-resume">
    <div class="resume-title">
      <div class="resume-img-section">
        <img> <%= cl_image_tag "som", height: 175, width: 150 %> <img>
      </div>
      <div class="resume-slogan">
        <h1 >
          <strong>Hi, I'm Som.</strong>
        </h1>
        <h6 class="resume-role">Fullstack Developer</h6>
        <p class="btn-resume"><a href="https://www.linkedin.com/in/somakudu/" target="_blank">Contact me on LinkedIn →</a></p>
      </div>
    </div>
  </section>
<section>
  <img> <%= cl_image_tag "Techstack", height: 360, width: 985 %> <img>
</section>
</body>
</html>
