<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Som Akudu Portfolio Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body>
  <header>
    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Resume</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/somakudu/" class="nav__link"><i class="fab fa-linkedin"></i></li>
        <li class="nav__item"><a href="https://github.com/somunachima/" class="nav__link"><i class="fab fa-github"></i></a></li>
      </ul>
    </nav>
  </header>
  <!-- Introduction -->
  <section>
    <div class="section-title">
      <div class="profile-img-section">
        <img> <%= cl_image_tag "Som_ptur5y", height: 180, width: 145 %> <img>
      </div>
      <div class="slogan">
        <h1 >
          <strong>Hi, I'm Som</strong>
        </h1>
        <h6>Fullstack developer</h6>
        <a href="https://www.linkedin.com/in/somakudu/">Contact me on LinkedIn</a>
        <i class="fa-thin fa-arrow-right-long"></i>
      </div>
    </div>
  </section>
</body>
</html>
