<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Som Akudu Portfolio Website</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%# <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet"> %>
</head>
<body>
  <header>
    <div class="profile-pic">
      <img src="assets/images/Som.png" alt="">
    </div>

    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">My Services</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About me</a></li>
        <li class="nav__item"><a href="#" class="nav__link">My Work</a></li>
      </ul>
    </nav>
  </header>
  <!-- Introduction -->
  <section class="intro" id="home">
    <h1 class="section-title"></h1>
  </section>
</body>
</html>
