body {
  background-color: white;
}
.container-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.section-title {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  min-height: 250px;
  width: 50%;
  .profile-img-section img {
    border-radius: 4.875rem;
    margin: 20px;
    margin-left: 0px;
  }
  .slogan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .slogan h1 {
    font-size: 75px;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .slogan p {
    font-size: 13px;
  }
  .btn-simple a {
    color: #808A9D;
    text-decoration: none;
    transition: all 0.3s;
  }
  .btn-simple a:hover {
    color: #FF6855;
  }
  .role {
    font-size: 20px;
  }
}
nav {
  .nav {
    width: 100%
  }
  a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-display: flex;
  }
}
.portfolio-back {
  background-color: #F9FAFF;
  min-height: 475px;
}
.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #F9FAFF;
  // background-color: #0F1014;
  width: 50%;
  text-decoration: none;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 20px auto 100px;
  padding: 20px;
  gap: 20px;
  .project-card {
    color: #0F1014;
    opacity: 1;
    font-size: 15px;
    transition: all 0.3s;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 9px;
    height: 200px;
    width: 200px;
    align-items: center;
  }
  .project-card:hover {
    opacity: 1;
    color: #FF6855;
    // border: 2px solid #FF6855;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transform: scale(1.05);
  }
  a {
    text-decoration: none;
    text-align: center;
    font-weight: 500;
  }
}
