.navbar-lewagon {
  justify-content: space-between;
  color: #0F1014;
  width: 100%;
  height: 30px;


  a {
    color: #0F1014;
    opacity: 1;
    text-decoration: none;
    font-size: 15px;
    padding: 0px 10px;
    transition: color 0.3s;
  }
  a:hover {
    opacity: 1;
    color: #FF6855;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: var(--font-inter);
  color: white;
  font-size: 18px;
}
