body {
  background-color: white;
}
.container-resume {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: row;
}

//SLOGAN
.resume-slogan{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  min-height: 100px;
  width: 60%;
  padding: 35px;
  padding-left: 45px;
  padding-right: 25px;
  margin: 0px;

  .resume-title {
    font-size: 60px;
    margin: 0px;
  }

  .resume-name {
    font-size: 28px;
    font-weight: 500;
    color: #0F1014;
    margin: 0px;
  }
}

//PROFILE
.btn-email a {
  color: #0F1014;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 17px;
}
.btn-email a:hover {
  color: #FF6855;
}
.resume-profile {
  padding-left: 45px;
}
.resume-full img {
  border: 2px solid #0F1014;
  margin: 20px;
  margin-left: 0px;
  border-radius: 4.875rem;
}
.resume-full p {
  color: #0F1014;
  font-size: 15px;
  font-weight: 300;
}

//EDUCATION

//SKILL

//EXPERIENCE
